.modal {
  height: 100%;
  .body {
    .header {
      padding: 0.25rem;
      background-color: #eaeaea;
      border: 1px solid #9e9e9e;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }
}
